:root {
  --color: #ffffff;
  --primary-text-color: #757575;
  --header-color: #212121;
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
}

body {
  color: var(--color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--header-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p ul {
  margin: 0;
}

/* Container */

.container {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.work {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.section.comand {
  padding-left: 15px;
  padding-right: 15px;
}

.section.peculiarities {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding: 25px 0;
}

.container.header {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.main.nav {
  display: flex;
}

.container.link {
  display: flex;
  align-items: center;
  column-gap: 50px;
  padding: 0;
  margin: 0;
}

.container.contact {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container.hero {
  width: 1200px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container.peculiarities {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  width: 1200px;
}

.footer-logo {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.peculiarities-list {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 30px;
}

.peculiarities-text {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 30px;
}

.container.work {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-work-image-first,
.section-work-image-second,
.section-work-image-trird {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 100%;
}

.container.comand {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-comand-title {
  margin-bottom: 50px;
}

.section-comand-list {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 30px;
}

.logo {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.color-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.black-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.link.current {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
}

.hero {
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color);
}

.section-hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  background: var(--accent-btn-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color);
  border: none;
}

.container-about {
  width: 270px;
}

.peculiarities-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
}

.container-work-list {
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 30px;
}

.section-comand-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-comand {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-comand-list {
  background: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-comand-image-first,
.section-comand-image-second,
.section-comand-image-trird,
.section-comand-image-fourth {
  max-width: 100%;
  height: auto;
  background: var(--color);
  border-radius: 0px 0px 4px 4px;
}

.section-comand-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-comand-text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.portfolio.nav {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container.buttons {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-nav {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-list {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 30px;
}

.demonstration-image-techno,
.demonstration-image-basketball,
.demonstration-image-fish,
.demonstration-image-headphones,
.demonstration-image-boxes,
.demonstration-image-monitor,
.demonstration-image-book,
.demonstration-image-lab,
.demonstration-image-notebook {
  max-width: 100%;
  height: auto;
}

.container.post-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.images {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-nav-button:hover {
  background: var(--accent-btn-color);
}

.portfolio-nav-button:focus {
  background: var(--accent-btn-color);
}

.portfolio-nav-button {
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.active.button {
  color: #ffffff;
  background: var(--accent-btn-color);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.active.button:hover {
  color: var(--color);
}

.active.button:focus {
  color: var(--color);
}

.demonstration-image-techno {
  background: var(--color);
}

.demonstration-image-basketball {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-fish {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-headphones {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-boxes {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-monitor {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-book {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-lab {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.demonstration-image-notebook {
  background: var(--color);
  border: 1px solid #eeeeee;
}

.container.demonstration {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.demonstration-title {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.demonstration-text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.footer {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #2f303a;
  border: 1px solid #000000;
}

.white-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color);
}

.container-footer {
  display: flex;
  width: 1200px;
  padding: 0;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-list {
  display: flex;

  margin: 0;
  padding: 0;
  flex-direction: column;
}

.footer-list .footer-adress {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: var(--color);
  text-decoration: none;
}

.footer-contact {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover {
  color: var(--accent-color);
}

..footer-contact:focus {
  color: var(--accent-color);
}
